/**
 * @file
 * Custom CSS for Lutheran Church theme	
 * 
 */

#featured {
	text-align: left;
	font-size: 1em;
	padding: 20px 0px 20px;
}
#featured .region {
	padding: 0 10px;
}


/*
 * Featured Event View
 * 
 */
#block-views-featured-event-block {
}
#block-views-featured-event-block .views-field-field-add-image img {
	float: left;
	padding: 0 10px 10px 0;
}
#block-views-featured-event-block .views-field-title {
	font-size: 32px;
}
#block-views-featured-event-block .views-field-field-date-of-event {
	font-size: 24px;
	padding: 10px 0;
}
#block-views-featured-event-block .views-field-body {	
	font-size: 16px;
}


/*
 * Sidebar Video Block
 * 
 */
#block-panels-mini-sidebar-video-block {
}
.sidebar #block-panels-mini-sidebar-video-block.block {
	padding: 0px;
}